<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sorting</title>
</head>
<body>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1>Employee Details</h1>
      <div>
      <form #formData="ngForm">
        <input type="text" name="searchname" [(ngModel)]="searchname" placeholder="Enter name ">&nbsp;&nbsp;
        <button type="submit" class="btn btn-info" (click)="searchfun(searchname)">Search</button>
        &nbsp;&nbsp;<label for="filteroption">Sort By:</label>&nbsp;&nbsp;
        <select name="filteroption" [(ngModel)]="filteroption">
          <option value="empid">Employee Id</option>
          <option value="emp_name">Employee Name</option>
          <option value="place">Place</option>
          <option value="age">Age</option>
        </select>&nbsp;&nbsp;
        <button type="submit" class="btn btn-info" (click)="sortfun(filteroption)">Sort</button>
      </form>
      <br><br>
      <button class="btn btn-info" (click)="display()">View</button>
      <!-- <button class="btn btn-info" (click)="searchfun(searchname)">View</button> -->
      <br><br>
      <table class="table table-bordered table-hover table-striped" *ngIf="viewing">
        <thead>
        <tr>
          <th scope="col">Employee Id</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Department</th>
          <th scope="col">Status</th>
          <th scope="col">Salary</th>
          <th scope="col">AGE</th>
          <th scope="col">PLACE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of details">
          <td scope="col">{{i.empid}}</td>
          <td scope="col">{{i.emp_name}}</td>
          <td scope="col">{{i.id.department}}</td>
          <td scope="col">{{i.id.emp_status}}</td>
          <td scope="col">{{i.id.emp_salary}}</td>
          <td scope="col">{{i.age}}</td>
          <td scope="col">{{i.place}}</td>
        </tr>
        </tbody>
      </table>
      <a href="#" *ngIf="viewing" (click)="previous()">previous</a>&nbsp;&nbsp;&nbsp;
      <a href="#" *ngIf="viewing" (click)="next()">next</a>
      <!-- <table *ngIf="searching">
        <tr>
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Status</th>
          <th>Salary</th>
        </tr>
        <tr *ngFor="let i of searchdata|filter:searchname">
          <td>{{i.emp_id}}</td>
          <td>{{i.emp_name}}</td>
          <td>{{i.department}}</td>
          <td>{{i.emp_status}}</td>
          <td>{{i.emp_salary}}</td>
        </tr>
      </table> -->
      <table *ngIf="searching">
        <tr>
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Status</th>
          <th>Salary</th>
          <th>AGE</th>
          <th>PLACE</th>
        </tr>
        <tr>
          <td>{{searchresult.empid}}</td>
          <td>{{searchresult.emp_name}}</td>
          <td>{{searchresult.id.department}}</td>
          <td>{{searchresult.id.emp_status}}</td>
          <td>{{searchresult.id.emp_salary}}</td>
          <td>{{searchresult.age}}</td>
          <td>{{searchresult.place}}</td>
        </tr>
      </table>

      </div>
    </div>
    <div class="col-3"></div>
  </div>
</body>
</html>