<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sorting</title>
</head>
<body>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1>Employee Details</h1>
      <div>
      <form #formData="ngForm">
        <input type="text" name="searchname" [(ngModel)]="searchname" placeholder="enter name">&nbsp;&nbsp;
        <button type="submit" class="btn btn-info" (click)="search(formData.value)">Search</button>
      </form>
      <br><br>
      <button class="btn btn-info" (click)="display()">View</button>
      <br><br>
      <table *ngIf="details">
        <tr>
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Status</th>
          <th>Salary</th>
        </tr>
        <tr *ngFor="let i of details">
          <td>{{i.emp_id}}</td>
          <td>{{i.emp_name}}</td>
          <td>{{i.department}}</td>
          <td>{{i.emp_status}}</td>
          <td>{{i.emp_salary}}</td>
        </tr>
      </table>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</body>
</html>