h1{
    text-align: center;
    color: darkred;
}
.row{
    margin-top: 5%;
}
table, th, td {
    border: 2px solid rgb(70, 102, 206);
    border-collapse: collapse;
    padding: 10px;
    background-color: rgb(235, 194, 144);
}
